[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "hsstan"]
	path = hsstan
	url = https://github.com/mcol/hsstan
	shallow = true
	registered = true
[submodule "nestfs"]
	path = nestfs
	url = https://github.com/mcol/nestfs
	shallow = true
	registered = true
[submodule "wevid"]
	path = wevid
	url = https://github.com/mcol/wevid
	shallow = true
	registered = true
