[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "hsstan"]
	path = hsstan
	url = https://github.com/mcol/hsstan
[submodule "nestfs"]
	path = nestfs
	url = https://github.com/mcol/nestfs
[submodule "wevid"]
	path = wevid
	url = https://github.com/mcol/wevid
